.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 500px;
  }
 .card-img-overlay{
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255,255,255,0) 64%);
  }
  @media only screen and (max-width: 770px) {
   
  footer .list-unstyled{
    text-align: center;
  }
  }